
@model About

<div class="card-shadow py-5">
    <form method = "post" class="col-6 m-auto my-3">
        <h1>Are you sure?</h1>
    <input class = "btn btn-outline-success mt-2" type="submit" value ="Delete"/>
    <a href = "/admin/about" class ="btn btn-outline-danger mt-2">Cancel</a>
</form>
</div>
