

.iconList i {
    border: 2px solid black;
    margin: 10px;
    font-size: 20px;
    padding: 10px;
    color: black;
    transition: 0.4s ease-in-out;
}

    .iconList i:hover {
        background-color: dimgray;
        color: white;
    }

    .iconList i.icon-active {
        background-color: forestgreen;
        color: white;
    }