@model Portfolio

<div class="card-shadow py-5">
    <form method = "post" class="col-6 m-auto my-3">
        <h1>Do you want to delete this item</h1>
        <input type="hidden" value="@Model.ID"/>
    <input class = "btn btn-outline-success mt-2" type="submit" value ="Delete"/>
    <a href = "/admin/portfolio" class ="btn btn-outline-danger mt-2">Cancel</a>
</form>
</div>
